.searchResult{
  display: flex;
}

.searchResultItem{
  border: 1px solid;
  width: 50%;
}
.searchResultItemAuthor{
  display: flex;
}

.justAuthor{
  width: 50%;
}

.submissionCount{
  width: 50%;
}
.wiki-result{
  display: flex;
  flex-direction: column;
}

.wiki-item{
  width: 100%;
  border-bottom: 1px solid;
}

.error-datafetch{
  color: red;
}